<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.50.7" targetFramework="net45" />
  <package id="AutoFixture.Xunit2" version="3.50.7" targetFramework="net45" />
  <package id="FluentAssertions" version="4.17.0" targetFramework="net45" />
  <package id="JetBrains.Annotations" version="11.0.0" targetFramework="net45" />
  <package id="MSTest.TestAdapter" version="1.1.17" targetFramework="net45" />
  <package id="MSTest.TestFramework" version="1.1.17" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net45" />
  <package id="Sitecore.Diagnostics.Base" version="2.0.1.24" targetFramework="net45" />
  <package id="Sitecore.Diagnostics.FileSystem" version="2.0.1.24" targetFramework="net45" />
  <package id="Sitecore.Diagnostics.InfoService.Client.Core" version="2.0.1.24" targetFramework="net45" />
  <package id="Sitecore.Diagnostics.Net" version="2.0.1.24" targetFramework="net45" />
  <package id="Sitecore.Diagnostics.Objects" version="2.0.1.24" targetFramework="net45" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net45" />
  <package id="xunit.core" version="2.0.0" targetFramework="net45" />
  <package id="xunit.extensibility.core" version="2.0.0" targetFramework="net45" />
  <package id="xunit.runner.visualstudio" version="2.2.0" targetFramework="net45" developmentDependency="true" />
</packages>