src/.vs/
src/Sitecore.DiagnosticsTool.Core.UnitTests/bin/
src/Sitecore.DiagnosticsTool.Core.UnitTests/obj/
src/Sitecore.DiagnosticsTool.Core/bin/
src/Sitecore.DiagnosticsTool.Core/obj/
src/Sitecore.DiagnosticsTool.DataProviders.UnitTests/bin/
src/Sitecore.DiagnosticsTool.DataProviders.UnitTests/obj/
src/Sitecore.DiagnosticsTool.DataProviders/bin/
src/Sitecore.DiagnosticsTool.DataProviders/obj/
src/Sitecore.DiagnosticsTool.Reporting/bin/
src/Sitecore.DiagnosticsTool.Reporting/obj/
src/Sitecore.DiagnosticsTool.TestRunner.UnitTests/bin/
src/Sitecore.DiagnosticsTool.TestRunner.UnitTests/obj/
src/Sitecore.DiagnosticsTool.TestRunner/bin/
src/Sitecore.DiagnosticsTool.TestRunner/obj/
src/Sitecore.DiagnosticsTool.Tests.UnitTests/bin/
src/Sitecore.DiagnosticsTool.Tests.UnitTests/obj/
src/Sitecore.DiagnosticsTool.Tests.UnitTestsHelper.UnitTests/bin/
src/Sitecore.DiagnosticsTool.Tests.UnitTestsHelper.UnitTests/obj/
src/Sitecore.DiagnosticsTool.Tests.UnitTestsHelper/bin/
src/Sitecore.DiagnosticsTool.Tests.UnitTestsHelper/obj/
src/Sitecore.DiagnosticsTool.Tests/bin/
src/Sitecore.DiagnosticsTool.Tests/obj/
src/Sitecore.DiagnosticsTool.UnitTests.Common/bin/
src/Sitecore.DiagnosticsTool.UnitTests.Common/obj/
src/Sitecore.DiagnosticsTool.WinApp/bin/
src/Sitecore.DiagnosticsTool.WinApp/obj/
src/Sitecore.DiagnosticsTool/bin/
src/Sitecore.DiagnosticsTool/obj/
src/packages/
*.user
src/Sitecore.DiagnosticsTool.Service/bin/
src/Sitecore.DiagnosticsTool.Service/obj/
