<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentAssertions" version="4.19.3" targetFramework="net45" />
  <package id="JetBrains.Annotations" version="10.4.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net45" />
  <package id="Sitecore.Diagnostics.Base" version="2.0.0.330" targetFramework="net45" />
  <package id="Sitecore.Diagnostics.ConfigBuilder" version="2.0.0.330" targetFramework="net452" />
  <package id="Sitecore.Diagnostics.Database" version="2.0.0.330" targetFramework="net452" />
  <package id="Sitecore.Diagnostics.InfoService.Client.Core" version="2.0.0.330" targetFramework="net45" />
  <package id="Sitecore.Diagnostics.InfoService.Client.Databases" version="2.0.0.330" targetFramework="net452" />
  <package id="Sitecore.Diagnostics.Net" version="2.0.0.330" targetFramework="net452" />
  <package id="Sitecore.Diagnostics.Objects" version="2.0.0.330" targetFramework="net45" />
  <package id="System.IO.Abstractions" version="2.0.0.124" targetFramework="net40" />
  <package id="xunit" version="2.1.0" targetFramework="net452" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net452" />
  <package id="xunit.assert" version="2.1.0" targetFramework="net452" />
  <package id="xunit.core" version="2.1.0" targetFramework="net452" />
  <package id="xunit.extensibility.core" version="2.1.0" targetFramework="net452" />
  <package id="xunit.extensibility.execution" version="2.1.0" targetFramework="net452" />
</packages>